

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Hotel Transylvania</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Index', index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Product', products_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Celebrities', celeb_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Pokemons', pokemons_index_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>