<%if false%>
  <%#Conditional just for commenting sake%>
  <h1><%= @pokemon[:name] %></h1>

  <p>Type 1:</p>
  <h2 style="color:<%=@pokemon[:type].values[0]%>">
  <%=@pokemon[:type].keys[0] %></h2>

  <%if !@pokemon[:type2].empty? %>
    <p>Type 2:</p>
    <h2><%= @pokemon[:type2].keys[0] %></h2>
  <%end%>

  <p>Level:</p>
  <%=@pokemon[:level]%>
<%end%>

<div class="card" style="width: 18rem;">
  <%= image_tag @pokemon[:img], class: "card-img-top", alt: "#{@pokemon[:name]} image" %>
  <hr>
  <div class="card-body">
    <h5 class="card-title">#<%=@pokemon[:order]%>  <%=@pokemon[:name]%></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%@pokemon[:types].each do |type|%>
        <span style="color:<%=type.values[0]%>"><%=type.keys[0].capitalize + " "%></span>
      <%end%>
    </h6>
    <p class="card-text"><%=@pokemon[:description]%></p>
  </div>
</div>

<button type="button" class="btn btn-outline-primary">
  <%= link_to 'Back', pokemons_index_path, style: "color:inherit;text-decoration:inherit;" %>
</button>